<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class = "signup-wrapper">
        <div>
            <label for = "username">Username</label>
            <input name = "username" type="text" id = "username-box">
        </div>
        <div>
            <label for = "email">Email Address</label>
            <input name = "email" type="text" id = "email-box">
        </div>
        <div>
            <label for = "password1">Password</label>
            <input name = "password1" type="text" id = "password1-box">
        </div>
        <div>
            <label for = "password2">Enter Password again</label>
            <input name = "password2" type="text" id = "password2-box">
        </div>

        <button id = "submit-signup">Sign Up</button>
        <h5 id = "user-notification"></h5>
    </div>
</body>
<script src= "signup.js"></script>
</html>